<div @slide="state" class="row chat-window col-xs-5 col-md-3 col-xs-offset-6 col-md-offset-8">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading top-bar">
                <div class="col-md-6 col-xs-6">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat</h3>
                </div>
                <div class="col-xs-6" style="text-align: right;">
                    <a href="#">
                        <span *ngIf="state === 'active'" (click)="toggleOpen()" class="glyphicon glyphicon-minus icon_minim"></span>
                        <span *ngIf="state === 'inactive'" (click)="toggleOpen()" class="glyphicon glyphicon-plus icon_minim"></span>
                    </a>
                    <a href="#"><span class="glyphicon glyphicon-remove icon_close"></span></a>
                </div>
            </div>
            <div *ngIf="usernameCompleted" class="panel-body msg_container_base" #scrollMe>
                <div class="row msg_container base_sent">
                    <div class="col-md-10 col-xs-10">
                        <div class="messages msg_sent">
                            <p>Welcome to the Summit chat service. Type a message below to contact a customer service representative.</p>
                            <time datetime="2009-11-13T20:00">Summit • 51 min</time>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-2 avatar">
                        <img src="pacman.png">
                    </div>
                </div>
                <div *ngFor="let message of messages">
                    <div class="row msg_container {{message.username === 'summit' ? 'base_sent' : 'base_receive'}}">
                        <div *ngIf="message.username !== 'summit'" class="col-md-2 col-xs-2 avatar">
                            <span class="fa fa-user fa-3x"></span>
                        </div>
                        <div class="col-md-10 col-xs-10">
                            <div class="messages">
                                <p>{{message.message}}</p>
                                <time datetime="2009-11-13T20:00">{{message.username}} • 51 min</time>
                            </div>
                        </div>
                        <div *ngIf="message.username === 'summit'" class="col-md-2 col-xs-2 avatar">
                            <img src="pacman.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div *ngIf="!usernameCompleted" class="input-group">
                    <input [(ngModel)]="messageModel.username" (keyup.enter)="setUsername()" type="text" class="form-control input-sm chat_input" placeholder="Enter Username" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" (click)="setUsername()" >Enter</button>
                    </span>
                </div>
                <div *ngIf="usernameCompleted" class="input-group">
                    <input [(ngModel)]="messageModel.message" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." (keyup.enter)="sendMessage()" autofocus/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" (click)="sendMessage()">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
